@import (reference) "./styles/commons";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  .typo-h1();
  margin: 10px 20px;
  padding: 0;
  display: flex;
  gap: 10px;
}


h2 {
  .typo-h2();
  margin: 10px 20px;
  padding: 0;
}

a, .a {
  cursor: pointer;
  font-weight: bold;
  color: @color-active;
  text-decoration: none;

  &:hover, &:visited {
    color: @color-active;
  }
}

.button, button {
  .button();
}

input[type="text"] {
  outline: none !important;
  border: 1px solid darken(@color-active, 10%);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

input[type="number"] {
  outline: none !important;
  font-size: 18px;
  border: 1px solid darken(@color-active, 10%);
  border-radius: 5px;
  text-align: right;
}


.header-buttons-burger() {
  .burger-menu {
    display: unset;
    flex: 1;
    text-align: right;
    margin-right: 20px;
  }
  .buttons {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    flex-direction: column;
    align-items: stretch;
    background: white;
    padding: 5px;
    border: 1px solid @color-line-light-gray;
    border-radius: 10px;

    .button {
      // display: none;
    }
  }
  &.burger-menu-open {
    .buttons {
      display: flex;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 55px;
  padding-top: 10px;
  box-sizing: border-box;
  z-index: 1;
  background: white;

  display: flex;
  gap: 10px;
  align-items: flex-start;


  span.text {
    .typo-h1();
    margin-left: 20px;
  }

  .burger-menu {
    color: @color-active;
    display: none;
    align-self: center;
    font-size: 32px;
  }

  .buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;

    flex: 1;

    .button {
      padding: 10px;
    }

  }
}


@media all and (max-width: 510px) {
  .header {
    .header-buttons-burger();
  }
}

@media all and (max-width: 610px) {
  .header.can-upload-buttons {
    .header-buttons-burger();
  }
}


.month-input {
  margin: 20px;
  margin-top: 60px;
  color: darken(@color-active, 10%);

  display: flex;
  align-items: center;

  .text {
    .typo-big();
    margin: 0 20px;
  }
}

@media all and (max-width: 500px) {
  .month-input {
    justify-content: center;
  }
}


.day-time-inputs {
  margin: 20px;
  width: calc(100dvw - 40px);
}


.day-time-input-line {
  .typo-regular();

  &.weekend {
    background: @color-line-light-gray;
  }

  &:not(:last-child) {
    border-bottom: 1px solid @color-active;
  }

  display: flex;
  align-items: center;

  .week {
    .typo-regular-big();
    margin: 5px 10px;
    width: 30px;
  }

  .day {
    .typo-regular-big();
    margin: 5px 10px;
    width: 50px;
  }

  input {
    width: 60px;
    margin: 5px;
  }

  .output-strings {
    margin-left: 10px;
    flex: 1;

    span {
      margin-left: 10px;
      .typo-small();
    }
  }

  .output-chart {
    display: none;
    width: 50%;
    align-self: stretch;
    position: relative;

    .output-chart-item {
      position: absolute;
      border: 1px solid @color-line-dark-gray;
      height: 6px;
      top: calc(50% - 3px);
      background-color: @color-line-dark-gray;
      border-radius: 10px;
    }
  }

}

@media all and (max-width: 420px) {
  .day-time-input-line {
    display: grid;
    grid-template-columns: 50px 70px 1fr;
    grid-template-areas: "W D I" "W D O";

    .week {
      grid-area: W;
    }

    .day {
      grid-area: D;
    }

    .input {
      grid-area: I;
    }

    .output-strings {
      grid-area: O;
      margin-left: 0;
      margin-bottom: 5px;
    }

    .output-chart {
      display: none;
    }

  }

}


.error {
  color: red;
}


@media print {
  .button, input {
    display: none;
  }

  .month-input .text {
    margin: 0;
  }


  .day-time-input-line {
    &:nth-child(even) {
      background: @color-line-light-gray;
    }

    .output-chart {
      display: block;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    .day {
      .typo-regular();
    }
  }
}
